.agendamento-page-container {
    h1 {
        display: flex;
        justify-content: space-between;
    }

    .table-container {
        font-size: 13px;
        .table-head, 
        .table-body .tr {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}