:root{
    --main-color: #B5FED9;
    --hover-color: #B8D4E3;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

html, body {
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color:rgb(22, 111, 117);
}

button {
    cursor: pointer;
    border:0;
    padding:15px 25px;
    margin:5px;
    border-radius: 4px;

    background-color: var(--main-color);
    font-weight: bold;

    &.danger {
        background-color: #c01111;
        color:#fff;
    }

    &:active {
        transform: scale(1.1);
    }

}

.modal {
    position: fixed;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
}